<header>
  <h2>Add a new Song</h2>
</header>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
	  <label for="title">Title:   </label>	
	  <input type="text" name="title" id="title" formControlName="title">  
	</li>
    <li>
	  <label for="artist">Artist:   </label>	
	  <input type="text" name="artist" id="artist" formControlName="artist">
	</li>
    <li>
	  <label for="year">Year:      </label>	
	  <input type="text" name="year" id="year" maxlength="4" formControlName="year">
      <div *ngIf="form.get('year').errors as yearErrors" class="error">
        Must be between 
        {{yearErrors.year.min}}
        and 
        {{yearErrors.year.max}}
      </div>	  
	</li>
	<li>
	  <label for="artist">Comments:  </label>	
	  <textarea name= "comments" id="comments" rows="4" cols="50" formControlName="comments" ></textarea>
	</li>
  </ul>	 
  
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>  